@import url("https://fonts.googleapis.com/css?family=Lobster");

@import "./keyframes.scss";

// GENERAL

html,
body {
  height: 100%;
  margin: 0 !important;
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

*:focus {
  outline: none;
}

p {
  // margin: 10px 0 !important;
  font-size: 1.2em !important;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  margin: 10px 0;
  /*font-family: Tahoma, Verdana, Segoe, sans-serif;*/
  color: #141414;
  text-align: center;
}

h4 {
  font-size: 1.8em;
}

.btn {
  margin-bottom: 5px;
}

.active-btn {
  transition: 400ms;
  background-color: #21a6bb;
  color: #fff;
}

.active-btn:hover{
  background-color: #3391a0;
  color: #fff;
}

#contact input, #contact textarea,
#add-product input, #add-product textarea{
  margin-bottom: 20px;
}

.checkbox input {
  margin-left: 0 !important;
}

.xs-reverse {
  display: flex;
  flex-direction: row;
}

.z-depth-1 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12),
    0 0 0 -0 rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#main-container {
  overflow: hidden;
}

.main-title {
  margin: 0;
  padding: 10px 20px;
  letter-spacing: 0.05em;
  font-family: "Lobster", cursive;
  font-size: 60px;
  width: 100%;
}

#homepage,
#aboutus,
#events {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .xs-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 378px) {
  .main-title {
    font-size: 50px;
  }
}

/**** nav-bar ****/

.login-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: default;
}

.navbar {
  width: 100%;
  text-align: center;
  display: inline-block;
  float: none;
  vertical-align: top;
  top: 0px;
  background-color: transparent;
  border-radius: 0;
  border: none;

  .navbar-collapse {
    transition: 500ms;
    z-index: 9999;
    background-color: transparent;
    height: 100%;
    top: 85px;
    justify-content: center;

    .in {
      overflow-y: visible !important;
    }
  }

  .nav-dropdown-show {
    opacity: 1;
    width: 100%;
    left: 0;
  }

  .nav-link {
    border: none;
    margin: 0;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    height: 55px;

    &:after {
      bottom: 8px;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: #141414 !important;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }
  }

  a,
  ul li:active,
  .navbar-brand > a:hover {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #141414 !important;
    background-color: inherit;
    border-radius: 0;
    transition: 400ms;
  }

  li > a:focus,
  li > a:hover,
  .dropdown-menu > li > a:hover,
  .nav-tabs li.active > a,
  .nav-tabs li.active > a:focus,
  .nav-tabs li.active > a:hover {
    color: #7f7f7f;
    background-color: transparent !important;
    border-radius: 0;
    border: none;
  }

  label {
    font-size: 1.2em;
    color: #141414;
  }
}

.navbar-toggler,
.navbar-toggler:focus {
  display: none;
  border: none;
  outline: none;
  z-index: 9999;
  position: fixed !important;

  .hamburger-wrapper {
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: #000;
      margin-bottom: 5px;
    }

    .icon-bar1,
    .icon-bar2 {
      position: relative;
      transition: all 500ms;
    }
  }

  .hamburgerAni-icon-bar1 {
    animation: hamburgerAniFirst 1s;
  }

  .hamburgerAni-icon-bar2 {
    animation: hamburgerAniSecond 1s;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: block !important;
    position: fixed;
    width: 0;
    opacity: 0;
    background-color: #fff !important;
  }

  .navbar-toggler {
    display: block !important;
    position: absolute;
    top: 40px;
    right: 10px;
  }
}

@media (max-width: 506px) {
  .navbar-toggler {
    top: 60px;
  }

  .navbar-collapse {
    top: 145px !important;
  }
}

@media (max-width: 376px) {
  .navbar-collapse {
    top: 130px !important;
  }
}

// CART

#shopping-cart-icon {
  height: 26px;
  margin-top: -4px;
  margin-right: -3px;
}

.view-cart-btn {
  padding: 5px 7px 5px 5px !important;
  float: right;
  // margin: -50px 10px;
  position: relative;
  z-index: 5;
  color: #17a2b8;
  cursor: pointer;

  #cart-length-wrapper {
    background: #17a2b8;
    display: inline-block;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    padding-left: 8px;
    margin-left: 6px;
    color: #fff;
  }
}

.quantity-btn {
  padding: 1px 8px;
  margin-top: 4px;
  background: #eee;
  transition: 400ms;

  &:hover {
    background: #ccc;
  }
}

.view-cart-box {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 10000;
  height: 100%;
  width: 300px;
  overflow-y: scroll;
  opacity: 1;
  transition: 500ms;
  transform: translateX(300px);

  .close {
    border: none;
    background: #fff;
    text-align: right;
    width: 100%;
    font-size: 21px;
  }

  .view-cart-delete {
    float: right;
    margin-top: -35px;
    padding: 0 5px 3px;
  }

  .view-cart-total {
    font-weight: 500;

    .paypal-btn {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.view-cart-box-show {
  width: 300px;
  transform: translateX(0);
}

#cart-overlay {
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  transition: 500ms;
}

.show-cart-overlay {
  opacity: 1 !important;
  z-index: 8888 !important;
}

//homepage

#homepagesvg {
  // position: absolute;
  z-index: -1;
  width: 100%;
  right: 0;

  #donut {
    transform: translate(-75px, -60px) rotate(9deg);
    animation: donutAnimation 20s infinite;
  }

  #apple {
    transform: translate(61px, -118px) rotate(0deg);
    animation: appleAnimation 20s infinite;
  }
  #avocado {
    transform: translate(30px, 11px);
  }
}

#homepage-store-btn {
  position: absolute;
  left: calc(50% - 110px);
  top: calc(56% - 36px);
  opacity: 0;
  color: #fff;
  font-size: 35px;
  background: #17a2b8;
  border: none;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 10px 20px;
  animation: homepageBtn 20s infinite;
}

@media (min-width: 992px) {
  #homepage svg {
    top: -150px;
  }
}

// contact

#contact {
  button {
    padding: 6px 13px;
  }

  label {
    display: none;
  }

  .side-img{
    margin-bottom: 20px;
  }

  .alert {
    overflow: hidden;
    transition: 800ms;
    padding: 0 1.25rem;
    max-height: 0;
    border: none;
  }

  .thanks-message {
    padding: 0 1.25rem;
    max-height: 100%;
    border: 1px solid #c3e6cb;
  }

  .displayErrors{
    .error-message,
    .required-input {
      padding: 0 1.25rem;
      max-height: 100%;
      border: 1px solid #f5c6cb;
    }
  
    input:invalid,
    textarea:invalid {
      border: 2px solid #bf1a25;
    }
  } 

  .required-input {
    color: #da3e3e;
    font-size: 15px !important;
    margin-top: 3px !important;
  }
}

@media(min-width:768px){
  #contact .side-img{
    padding: 0 15px;
  }
}

//admin

.upload-img-label input[type="file"] {
  display: none;
}

.upload-img-btn {
  background: #334d77;
}

/**** tooltip ****/

// .my-tooltip {
//   color: #cc902a !important;
//   font-weight: bold;
//   cursor: pointer;
// }

// .my-tooltip + .tooltip > .tooltip-arrow {
//   border-color: #fff !important;
// }

// .my-tooltip + .tooltip > .tooltip-inner {
//   background-color: #334d77;
//   font-weight: bold;
//   opacity: 1;
// }

/**** footer ****/

footer {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #888889;
  background: #fff;

  .footer-row {
    margin-bottom: 0;

    p{
      margin: 4px 0;
    }
  }
  
  // #twitter-button {
  //   margin: 0;
  //   width: 200px;
  // }
  
  // .social-media iframe {
  //   height: 25px;
  // }
  
  // .social-media-link {
  //   cursor: pointer;
  //   margin: 5px 5px;
  //   height: 40px;
  //   transition: 500ms;

  //   &:hover {
  //     transform: scale(1.1);
  //   }
  // }
}

