@import url("https://fonts.googleapis.com/css?family=Lobster");

html,
body {
  height: 100%;
  margin: 0 !important;
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

*:focus {
  outline: none;
}

p {
  font-size: 1.2em !important;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  margin: 10px 0;
  color: #141414;
  text-align: center;
}

h4 {
  font-size: 1.8em;
}

.btn {
  margin-bottom: 5px;
}

.active-btn {
  transition: 400ms;
  background-color: #21a6bb;
  color: #fff;
}

.active-btn:hover {
  background-color: #3391a0;
  color: #fff;
}

#contact input,
#contact textarea,
#add-product input,
#add-product textarea {
  margin-bottom: 20px;
}

.checkbox input {
  margin-left: 0 !important;
}

.z-depth-1 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12),
    0 0 0 -0 rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#main-container {
  overflow: hidden;
}

.main-title {
  margin: 0;
  padding: 10px 20px;
  letter-spacing: 0.05em;
  font-family: "Lobster", cursive;
  font-size: 60px;
  width: 100%;
}

#aboutus,
#events {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .xs-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 378px) {
  .main-title {
    font-size: 50px;
  }
}